<%- include header.ejs %>

<div class="container">
  <h1>RadioVis Stomp Server Admin</h1>

  <dl>
    <dt>Connected clients:</dt> <dd><%= clientCount %></dd>
    <dt>RadioVis Uptime:</dt> <dd><%= radioVisUptime %></dd>
    <dt>OS Uptime:</dt> <dd><%= osUptime %></dd>
    <dt>Load Average:</dt> <dd><%= loadAvg %></dd>
  </dl>
  
  
  <table>
    <tr>
      <th>Service Name</th>
      <th>Bearers</th>
      <th>Connected Clients</th>
    </tr>
    <% orderedServices.forEach(function(serviceId) { %>
      <tr>
        <td><%= services[serviceId].name %></td>
        <td><%= services[serviceId].bearers.length %></td>
        <td><%= services[serviceId].connectionCount %></td>
      </tr>
    <% }) %>
  
  </table>
</div>

<%- include footer.ejs %>
