<%- include header.ejs %>

<div class="container">
  <h1>RadioVis Stomp Server Admin</h1>

  <dl>
    <dt>Connected clients:</dt> <dd><%= clientCount %></dd>
    <dt>RadioVis Uptime:</dt> <dd><%= radioVisUptime %></dd>
    <dt>OS Uptime:</dt> <dd><%= osUptime %></dd>
    <dt>Load Average:</dt> <dd><%= loadAvg %></dd>
  </dl>
</div>

<%- include footer.ejs %>
