<%- include('header.ejs') %>

<div class="container">
  <h1>RadioVis: <%= service.name %></h1>

  <dl>
    <dt>Current Text:</dt> <dd><%= service.text %></dd>
    <dt>Current Image:</dt> <dd><a href="<%= service.image %>"><%= service.image %></a></dd>
    <dt>Current Link:</dt> <dd><a href="<%= service.link %>"><%= service.link %></a></dd>
    <dt>Last Text Update:</dt> <dd><%= service.updatedAt.text %></dd>
    <dt>Last Image Update:</dt> <dd><%= service.updatedAt.image %></a></dd>
  </dl>

  <h2>Bearers</h2>
  <ul>
    <% service.bearers.forEach(function(bearerId) { %>
      <li><%= bearerId %></li>
    <% }) %>
  </ul>
  
</div>

<%- include('footer.ejs') %>
